@media screen and (min-width:786px) {
    .panel{
        display: flex;
    flex-direction: row;
    border-radius: 44px;
    }
    .pricing-plan {
        margin-block: 50px;
        padding-bottom: 25px;
        border-bottom: none;
        border-right: 4px solid #0b615594;
        border-radius: 4px;
    }
    .pricing-plan{
        padding-inline: 30px;
    }
    .pricing-plan:nth-of-type(1) {
        margin-block-start: 50px;
    }
}